body{
  background-color:black;
  text-align:center;
  font-family:Verdana;
  color:white;
}

h2,.footer{
  color:gray;
}
h1
{
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}

h3{
  color:Aquamarine;
  font-size: 16px;
}
h3 a{
  color:inherit;
}

h2{
  font-size:21px;
}
h4
{
  font-size: 42px;
}

.footer
{
  text-align: right;
}
